/*
designed by : Qmax (MJM v1- August  10, 2018) 
*/

/* Main tags */
html{height: 100%;}
body {margin:0; padding:0; min-height: 100%; position: relative; color:#404040; background:#fafafa url(bodybg.gif) top left repeat-y; font:76% Verdana,Tahoma,sans-serif;}
ul {margin:5px 0 16px 5px; padding:0;}
li {margin:0 0 8px 15px; padding:0; }
img {margin:10px auto 16px auto; padding:1px; background:#ffffff; border:1px solid #d0d0d0;}
a {color:#46a758; font-weight:bold; text-decoration:none;}
a:hover {color:#505050; text-decoration:underline;}
a img {border-color:#46a758;}
a img:hover {background:#46a758; border-color:#46a758;}

#content{min-height:90%;}

	/* Wrap */
#wrap {
	min-width:990px;
    margin-left:auto;
    margin-right:auto;
	overflow: hidden;
height: auto;}

/* Left sidebar */
#leftside {width:220px; background:#e0e0e0 url(sidebarbg.gif) top right repeat-y; text-align:right; float:left;}
#leftside h1 {margin:20px 18px 0 5px; color:#46a758; font-size:1.6em; letter-spacing:-2px; text-align:right;}
#leftside h2, #leftside h3 {margin:0 20px 18px 5px; color:#808080; font-size:1.1em; font-weight:bold; letter-spacing:-1px; text-align:right;}
#leftside h3 {margin:20px 18px 4px 5px; color:#606060;}
#leftside p {margin:0 20px 18px 5px; color:#606060; font-size:0.8em;}
#leftside a {color:#808080}
.img-logo{
	width: 190px;
	height: 190px;
	background-image: url(logo.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
.img-logo:hover {
	background-size: 200px;
}

/* Navigation menu */
#menu a {display:block; width:202px; padding:5px 18px 5px 0; color:#606060; background:#e0e0e0 url(sidebarbg.gif) top right repeat-y; font-size:1.6em; font-weight:normal; text-decoration:none; letter-spacing:-1px;}
#menu a:hover {color:#303030; background:#f0f0f0 url(sidebarbg.gif) top right repeat-y;}
#menu a.active {padding:5px 18px 5px 0; background:#fafafa; border-top:2px solid #c0c0c0; border-bottom:2px solid #c0c0c0;}
#menu a.active:hover {color:#505050; background:#fafafa;}

/* Right sidebar */
#extras {width:200px; float: right; color:#666; }
#extras h2, #extras h3 {margin:10px 0 12px 0; color:#606060; font-size:1.6em; font-weight:400; letter-spacing:-1px; text-align:center; border-bottom:2px solid #b0b0b0;}
#extras p {line-height:1.4em; margin: 0 0 15px 0;}

 
/* Content area */
#content {width:520px; margin:0 0 0 240px; padding:10px 0; background:#fafafa;}
#content p {margin:0 0 16px 0; line-height:1.5em; text-align: justify;}
#content h1 {margin:0; color:#46a758; font-size:3.6em; letter-spacing:-4px; text-align:center; text-shadow: 2px 2px 4px #000000;}
#content h2 {margin:0; color:#808080; font-weight:normal; font-size:2em; letter-spacing:-2px; text-align:center;}
#content h3 {margin:20px 0 10px 0; color:#46a758; font-weight:normal; font-size: 2em; letter-spacing:-2px;}



.img{
	float: left;
	width: 100%
	padding: 5px;
	position: relative;
	left: 50px;
}
.img-bottom::after{
 content: "";
 clear: both;
 display: table;}

.footer-main-div{position: relative; bottom: 0; width: 100%; text-align: center; height: 30px; font-size: 35px; left: 280px;}

.footer-social-icons ul{
	list-style: none;
}
.footer-social-icons ul li{
	width: 75px;
	height: 75px;
	line-height: 75px;
	margin: 0 8px;
	text-align: center;
	cursor: pointer;
	border-radius: 50%;
	border: 8px solid #fff;
	float: left;
	transition: all 0.5s ease;
}
.footer-social-icons ul li .fab{
	color: #32CD32;
	margin-top: 20px;
	transition: all 0.5s ease;
}
.footer-social-icons ul li:hover:nth-child(1){
	border: 5px solid #3b5998 ;
	box-shadow: 0 0 15px #3b5998;
	transition: all 0.5s ease;
}
.footer-social-icons ul li:hover .fa-facebook-f{
	color: #3b5998;
	text-shadow: 0 0 15px ##3b5998;
	transition: all 0.5s ease;
}
.footer-social-icons ul li:hover:nth-child(2){
	border: 5px solid #00aced ;
	box-shadow: 0 0 15px #00aced;
	transition: all 0.5s ease;
}
.footer-social-icons ul li:hover .fa-twitter{
	color: #00aced;
	text-shadow: 0 0 15px #00aced;
	transition: all 0.5s ease;
}
.footer-social-icons ul li:hover:nth-child(3){
	border: 5px solid #dd4b39 ;
	box-shadow: 0 0 15px #dd4b39;
	transition: all 0.5s ease;
}
.footer-social-icons ul li:hover .fa-google-plus-g{
	color: #dd4b39;
	text-shadow: 0 0 15px#dd4b39;
	transition: all 0.5s ease;
}
.footer-social-icons ul li:hover:nth-child(4){
	border: 5px solid #dd4b39 ;
	box-shadow: 0 0 15px #dd4b39;
	transition: all 0.5s ease;
}
.footer-social-icons ul li:hover .fa-youtube{
	color: #dd4b39;
	text-shadow: 0 0 15px#dd4b39;
	transition: all 0.5s ease;
}